.converter {
  text-align: center;
  background-color: #fff;
}

.output {
  font-size: 3rem;
  font-weight: bolder;
  min-height: 4rem;
  padding: 3rem 0;
}

.currency-label {
  padding-bottom: 8px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"] {
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid #efefef;
  padding: 1rem 0;
}

input[type="submit"] {
  background-color: orange;
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
}

@media all and (min-width: 30rem) {

  .converter {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1160px;
  }

  .output {
    font-size: 4rem;
  }

}