.currencies {
  background-color: #fff;
}

.base {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
  background-color: #2d2d2d;
  color: white;
}


.base__currency {
  font-size: 1.8rem;
  font-weight: bolder;
}

.currency {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.currency:hover {
  background-color: hsl(41, 100%, 89%);
  cursor: pointer;
}

@media all and (min-width: 30rem) {

  .currencies,
  .currencies-list {
    max-width: 1160px;
    margin: 0 auto;
  }

  .currencies-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}