@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;600;700&family=Jost:ital,wght@0,300;0,400;0,700;1,500&family=Open+Sans:wght@300;600&display=swap');

.container {
  display: flex;
  font-family: 'Akshar', 'sans-serif';
  font-size: 1.4rem;
}

.navigation-item {
  background-color: orange;
  color: white;
  flex: 1;
  font-weight: 600;
  padding: 16px 8px;
  text-align: center;
  text-decoration: none;
}